*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background: #f0f4f8;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
}

h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #333;
}

input[type="text"], select, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}

button {
    width: 48%;
    padding: 10px;
    background-color: #5cb85c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #4cae4c;
}

button:nth-child(2) {
    background-color: #d9534f;
}

button:nth-child(2):hover {
    background-color: #c9302c;
}

.button-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

textarea {
    height: 100px;
}

input[type="file"] {
    display: block;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    width: 100%;
    background: -webkit-linear-gradient(225deg, rgb(251, 175, 21), rgb(251, 21, 242), rgb(21, 198, 251)) 0% 0% / 300% 300%;
    -webkit-animation: gradient_move 3s ease infinite;
    animation: gradient_move 3s ease infinite;
}

.download-btn {
    color: white;
    /*
        font-weight: 600;
    font-size: 14px;
    margin: 12px;
    padding: 14px 20px 14px 20px;
    border-radius: 0.7em;*/
    background: -webkit-linear-gradient(225deg, rgb(251, 175, 21), rgb(251, 21, 242), rgb(21, 198, 251)) 0% 0% / 300% 300%;
    background-size: 200% auto;
    -webkit-animation: gradient_move 3s ease infinite;
    animation: gradient_move 3s ease infinite;
    width: 100%;
}

@-webkit-keyframes gradient_move {
    0% {
        background-position: 0% 92%
    }

    50% {
        background-position: 100% 9%
    }

    100% {
        background-position: 0% 92%
    }
}

@keyframes gradient_move {
    0% {
        background-position: 0% 92%
    }

    50% {
        background-position: 100% 9%
    }

    100% {
        background-position: 0% 92%
    }
}
